<div class="filter-container">
    <span>Filter: </span>
    <select (change)="onselectedFilterbtnChange()" [(ngModel)]="selectedFilter">
    <option name="filter" value="all"  >All({{all}})</option>
    <option name="filter" value="true" >InStock({{inStock}})</option>
    <option  name="filter" value="false">OutStock({{outStock}})</option>
    <option name="filter" value="men">Mens({{men}})</option>
    <option name="filter" value="women">Womens({{women}})</option>
    <option name="filter" value="kids">Kids({{kid}})</option>
</select>
</div>

