@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
.ekart--product--item{
    display: inline-block;
    width: 300px;
    background-color: rgb(235, 245, 245);
    margin: 1rem  1rem  1rem  1rem ;
    padding: 5px 5px;
    border: lightskyblue 2px solid;
    border-radius: 0.8rem;
}
.fav{
    cursor: pointer;
}

.highlight {
    --webkit-box-shadow : 0 0 1px 3px #000 inset;
    -moz-box-shadow: 0 0 1px 3px #000 inset ;
    border: gray 2px solid;
    transform: scale(1.11);
    transition: 0.18s;
    box-shadow: 5px 5px 9px gray;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 200,
    'opsz' 40;
    color: rgb(161, 155, 155);
  }
.ekart--add--to--wishlist{
    padding:2px 10px;
    text-align: right;
    font-size: 22px;
    position: absolute;
}
.ekart-on-sale-tag{
    float: right;
    font-size: 14px;
    margin-top: 10px;
    margin-right:-10px;
    padding: 5px 10px;
    background-color: #FFC000;
    color: #28282B;
    font-weight: bold;
}


.ekart--add--to--price{
    padding:1px 5px;
    position:absolute;
    margin-top: -25px;
    background-color:#28282B;
    color:white;
}

.ekart--product--image{
    width: 265px;
    height: 250px;
    object-fit: cover;
}
.ekart--product--name{
    font-size: 14px;
    color: #28282B;
    margin-top: 7px;
}

.ekart--product--category {
    margin: 10px 10px;
}
.ekart--product--category > span{
    font-size: 13px;
    color: white;
    margin: 5px 5px 5px 5px ;
    background-color: #36454F;
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
    border-radius: 25px;
}