<div class="ekart--product--details--info scroll">
    <h1></h1>
   
    <div class="ekart-product-detail-close" >
        <a [routerLink]="['/Home']"><i class="fa fa-times" aria-hidden="true"></i></a>
    </div>
    <div class="grid1">
    <div class="ekart-product-detail-image">
        <img [src]="product.imageURL" class="ekart-product-detail-image">
    </div>
<div class="first-layer" >
    <div class="ekart-product-detail">
        <div class="ekart-product-detail-name">
            <h2>{{product.name}}</h2>
        </div>
        <div class="ekart-product-detail-gbc">
            <span>{{product.gender}}</span>
            <span>{{product.brand}}</span>
            <span>{{product.category}}</span>
        </div>
        <div class="ekart-product-detail-price">
            <p>
                <b>Price Each Pair:</b>
                <span style="background-color: red; color:white"><s>name</s></span>
                <span style="background-color: green; color:white">$599</span> (Inclusive of all taxes)
            </p>
        </div>
        <div class="ekart-product-detail-size">
            <div style="padding: 5px 0px;border-bottom: #ccc 2px solid">
                <h4>Available Size</h4>
            </div>
            <diV style="margin-top: 20px">
                <span class="ekart-product-detail-available-size">6</span>
                <span class="ekart-product-detail-available-size">7</span>
                <span class="ekart-product-detail-available-size">8</span>
                <span class="ekart-product-detail-available-size">9</span>
            </diV>                
        </div>

        <div class="ekart-product-detail-color">
            <div style="padding: 5px 0px;border-bottom: #ccc 2px solid">
                <h4>Available Color</h4>
            </div>
            <diV style="margin-top: 20px;">
                <span class="ekart-product-detail-available-color" style="background-color: red;"></span>
                <span class="ekart-product-detail-available-color" style="background-color: green;"></span>
                <span class="ekart-product-detail-available-color" style="background-color: black;"></span>
                <span class="ekart-product-detail-available-color" style="background-color: blue;"></span>
            </diV>                
        </div>
</div>
</div>
</div>
<div class="second-layer">
        <div class="ekart-product-detail-desc">
            <div style="padding: 5px 0px;border-bottom: #ccc 2px solid">
                <h4>Product Description</h4>
            </div>
            <div style="margin-top: 20px">
                <p>{{product.description}}</p>
            </div>                
         </div>
    <div class="ekart-product-detail-addtoCart">
        <button class="btn-add-to-cart" *ngIf="product.is_in_inventory ; else notifyme" (click)="Onclick(product)" appCart>
    <p *ngIf="notClicked ; else gotoCart">
            <span class="material-symbols-outlined">
                add_shopping_cart
                </span>
                ADD TO CART
    </p>
    <ng-template #gotoCart>
        <button class="btn-add-to-cart">
        <span class="material-symbols-outlined" >
            done
            </span>
        Go to Cart 
    </button>
    </ng-template>
        </button>
        <ng-template #notifyme>
            <button class="btn-add-to-cart" style="background-color: red;" (click)="OnNotify(product.name)"><span class="material-symbols-outlined">
                notifications
                </span>NOTIFY ME</button>
        </ng-template>
    </div>
</div>
</div>
