<div > 
    <h1>Your Shopping Cart</h1>
    <div *ngFor="let cart of cartList" class="container">
        <img [src]="cart.imageURL">
            <div class="btncontainer">  
                <button (click)="onPlus(cart.items_left)" class="btn"><i class="fa-solid fa-plus"></i></button>
                    <p> {{ cartNumber}} </p>
                <button (click)="onMinus()" class="btn">-</button>
            </div>
            <div>
                <p> Price : {{ cart.price * cartNumber }}</p>
            </div>
            <div>
                <button (click)="onRemove(cart)" style="color: red;"> Remove </button>
            </div>
    </div>
<div class="checkout">

</div>




</div>
