h1{
    margin-left: 10rem;
}

.hostDiv{
    display: flex;
    justify-content: space-around;
}
.itemContainer{
    display: flex;
    flex-direction: column;
    width: 50%;
   
}

.container {
  display: flex;
  flex-direction: row;
  margin-left: 0px;
  height : 100px;
  width : 100%;
  gap: 7px;
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
}

img{
    height: 75px;
    width: 150px;
    object-fit: cover;
}

.btncontainer{
    display: flex;
    flex-direction: row;
    gap: 5px;

}
.btn{
    border: 1px solid black;
    text-align: center;
    display: inline-block;
    font-size: 10px;
    cursor: pointer;
    color: blue;
    border-radius: 10px;
}
