<app-filter [all]="totalProduct" [inStock]="istock" [outStock]="ostock" (selectedFilterChange)="onFilter($event)"></app-filter>
    <!--  -->
<ng-container class="ekart-products-container" *ngFor=" let prod of products" >
    <ng-container *ngIf="selectedFilter == 'all' || prod.is_in_inventory.toString() == selectedFilter" >
        <app-product [product]="prod" 
        *ngIf=" searchText=== '' || prod.name.toLowerCase().includes(searchText)"  
        (click)="selectedproduct = prod"></app-product>
    </ng-container>
</ng-container>

